<footer>
    <div class="info-footer">
        <img 
            src="../img/footer-logo.png"
            srcset="../img/footer-logo@2x.png 2x" alt="Logo Clinotam Odontologia">
        <p><strong>Sakae Tamura | </strong>CRO/PR 3658</p>
        <p><strong>MAYUMI KUBO TAMURA | </strong>CRO/PR 3773</p>
        <p><strong>MAYRA MEGUMI TAMURA | </strong>CRO/PR 21407</p>
        <p>Avenida República Argentina, 1590 | Água Verde | Curitiba/PR | 80620-010</p>
        <div class="icons-footer">
            <a href="https://api.whatsapp.com/send?phone=5541988683202&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta.">
                <img src="../img/whats-footer.png"
                    srcset="../img/whats-footer@2x.png 2x, ../img/whats-footer@3x.png 3x""
                    alt="Ícone de Whatsapp">
            </a>
            <a href="tel:+554132444943">
                <img src="../img/phone-footer.png"
                    srcset="../img/phone-footer@2x.png 2x, ../img/phone-footer@3x.png 3x""
                    alt="Ícone de telefone">
            </a>
        </div>
    </div>
    <a class="nami" href="https://namiconsultoria.com.br">Desenvolvido por Nami Consultoria</a>
    <img 
        src="../img/icons/left-circle.png"
        srcset="../img/icons/left-circle@2x.png 2x"
        alt="Imagem de fundo com um semi círculo" class="left-circle">
    <img 
        src="../img/icons/right-circle.png"
        srcset="../img/icons/right-circle@2x.png 2x"
        alt="Imagem de fundo com um semi círculo" class="right-circle">
</footer>