@use 'index' as *;

.contato{
    padding: 24rem 0 0;
    .wrap-contato{
        display: flex;
        gap: 23rem;
        width: 85%;
        margin: auto;
        .left-contato{
            display: flex;
            flex-direction: column;
            gap: 7rem;
            h2{
                font-size: 2.6rem;
                line-height: 4rem;
                letter-spacing: 2%;
                text-transform: uppercase;
                color: $azul-900;
                font-family: $fractul;
                font-weight: 500;
            }
            .info-contato{
                display: flex;
                flex-direction: column;
                gap: 2.3rem;
                .item-contato{
                    display: flex;
                    gap: 2.6rem;
                    align-items: center;
                    p{
                        font-size: 2rem;
                        line-height: 2rem;
                        letter-spacing: 2%;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}

footer{
    margin-top: -5rem;
}