@use 'index' as *;

.cuidando{
    padding: 14rem 7%;
    position: relative;
    .red-dot{
        position: absolute;
        left: 0;
        top: 21rem;
    }
    .wrap-cuidando{
        display: flex;
        gap: 13rem;
        align-items: center;
        margin: auto;
        justify-content: center;
        .right-cuidando{
            display: flex;
            flex-direction: column;
            gap: 4.6rem;
            width: 50rem;
            h1{
                font-size: 3.6rem;
                line-height: 4.6rem;
                letter-spacing: 2%;
                color: $azul-900;
                text-transform: uppercase;
                font-family: $mundial;
                font-weight: 600;
            }
            p{
                font-size: 2.3rem;
                line-height: 3.2rem;
                letter-spacing: 2%;
                font-weight: 400;
            }
        }
    }

    @media screen and (max-width:700px){
        margin: auto;
        padding: 4.5rem 12% 7.6rem;
        max-width: 100%;
        .red-dot{
            height: 8rem;
            top: 5.5rem;
            left: -1.5rem;
        }
        .wrap-cuidando{
            display: flex;
            flex-direction: column;
            gap: 4rem;
            img{
                width: 100%;
                height: auto;
            }
            .right-cuidando{
                align-items: center;
                width: 100%;
                gap: 1.5rem;
                h1{
                    font-size: 1.8rem;
                    line-height: 2.3rem;
                    letter-spacing: 2%;
                }
                p{
                    font-size: 1.6rem;
                    line-height: 2.2rem;
                    letter-spacing: 0%;
                    margin-bottom: 2.5rem;
                }
            }
        }
    }
}

.quando {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
    padding-bottom: 14rem;
    h1{
        font-size: 3.4rem;
        line-height: 3.4rem;
        letter-spacing: 1%;
        color: $azul-900;
        text-transform: uppercase;
        font-family: $mundial;
        font-weight: 600;
    }
    h3{
        font-size: 2.3rem;
        line-height: 3.2rem;
        letter-spacing: 2%;
        color: $azul-900;
        font-family: $mundial;
        font-weight: 400;
        text-align: center;
        width: 97rem;
    }
    .wrap-quando{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        gap: 7rem;
        margin: 5rem 0 6rem;
        .item-quando{
            display: grid;
            gap: 1rem;
            min-width: 35rem;
            img{
                height: 8rem;
            }
            p{
                font-size: 2rem;
                line-height: 2rem;
                letter-spacing: 0%;
            }
        }
    }
    a{
        margin-top: 3rem;
    }
    @media screen and (max-width:700px) {
        padding-bottom: 7rem;
        gap: 2rem;
        h1{
            font-size: 1.8rem;
            line-height: 2.3rem;
            text-align: center;
        }
        h3{
            width: 100%;
            text-align: center;
            font-size: 1.6rem;
            line-height: 2.2rem;
        }
        .wrap-quando{
            flex-direction: column;
            gap: 4rem;
            margin: 1rem 0;
            .item-quando{
                display: flex;
                flex-direction: column;
                gap: 1.3rem;
                justify-content: center;
                align-items: center;
                min-width: unset;
                img{
                    height: 6rem;
                    width: auto;
                }
                p{
                    font-size: 1.5rem;
                    line-height: 1.7rem;
                }
            }
        }
        a{
            margin-top: 1rem;
        }
    }
}

.image{
    position: relative;
    aspect-ratio: 144/60;
    width: 100%;
    height: auto;
    .right-dots{
        position: absolute;
        right: 0;
        bottom: 3rem;
        z-index: 10;
    }
    .back-img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 4;
        object-fit: cover;
    }
    .text-img{
        display: flex;
        flex-direction: column;
        gap: 4rem;
        position: absolute;
        left: 10rem;
        z-index: 10;
        width: 37.5rem;
        top: 50%;
        transform: translateY(-50%);
        h2{
            font-size: 3.4rem;
            line-height: 3.4rem;
            letter-spacing: 1%;
            color: $azul-300;
            text-transform: uppercase;
            font-family: $mundial;
            font-weight: 600;
        }
        p{
            font-size: 2.3rem;
            line-height: 3.2rem;
            letter-spacing: 2%;
            color: $azul-300;
            font-family: $mundial;
            font-weight: 400;
        }
    }
    @media screen and (max-width:700px){
        aspect-ratio: 36/48;
        .right-dots{
            bottom: 2rem;
            height: 23rem;
        }
        .text-img{
            left: 2.5rem;
            width: 90%;
            gap: 1.6rem;
            top: 5rem;
            transform: translateY(0%);
            h2{
                font-size: 2rem;
                line-height: 2.4rem;
                width: 21rem;
            }
            p{
                font-size: 1.6rem;
                line-height: 2.2rem;
                max-width: 85%;
            }
        }
    }
}

.usamos{
    padding: 13rem 7%;
    position: relative;
    display: flex;
    gap: 10rem;
    align-items: flex-start;
    justify-content: center;
    .red-dot{
        position: absolute;
        left: 0;
        top: 13rem;
    }
    h3{
        font-size: 2.6rem;
        line-height: 3.6rem;
        letter-spacing: 2%;
        color: $azul-900;
        font-family: $fractul;
        font-weight: 500;
        width: 55rem;
    }
    .right-usamos{
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        width: 53rem;
        p{
            font-size: 2.2rem;
            line-height: 2.9rem;
            letter-spacing: 2%;
            font-weight: 400;
        }
    }
    @media screen and (max-width:700px){
        padding: 4rem 12%;
        gap: 2rem;
        flex-direction: column;
        align-items: center;
        .red-dot{
            top: 6rem;
            height: 8rem;
            left: -1.5rem;
        }
        h3{
            font-size: 1.8rem;
            line-height: 2.3rem;
            width: 100%;
        }
        .right-usamos{
            width: 100%;
            p{
                font-size: 1.6rem;
                line-height: 2.2rem;
            }
        }
    }
}

.escolher{
    padding: 0rem 7%;
    .title{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10rem;
        margin-bottom: 6rem;
        h1{
            font-size: 3.4rem;
            line-height: 3.8rem;
            letter-spacing: 1%;
            color: $azul-900;
            text-transform: uppercase;
            font-family: $mundial;
            font-weight: 600;
        }
        .swiper-buttons{
            display: flex;   
            gap: 2rem;
            img{
                position: unset;
                width: 6rem;
                height: 6rem;
                margin: 0;
            }
        }
    }
    .swiper-slide{
        display: flex;
        align-items: center;
        justify-content: center;
        .slide-left{
            height: 50rem !important;
            background-color: $azul-900;
            padding: 10rem 8rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5rem;
            height: 100%;
            justify-content: center;
            h2{
                font-size: 3.4rem;
                line-height: 4.4rem;
                letter-spacing: 2%;
                color: $azul-500;
                font-family: $fractul;
                font-weight: 500;
                width: 47rem;
            }
            p{
                font-size: 2.2rem;
                line-height: 2.9rem;
                letter-spacing: 2%;
                font-weight: 400;
                color: $azul-500;
                width: 47rem;
            }

        }
    }
    a{
        margin: 5rem auto 14rem;
    }
    @media screen and (max-width:700px){
        padding: 0 7%;
        .title{
            gap: 1rem;
            margin-bottom: 3rem;
            justify-content: flex-start;
            h1{
                font-size: 1.8rem;
                line-height: 2.3rem;
                width: 19rem;
            }
            .swiper-buttons{
                gap: 1rem;
                img{
                    width: 4rem;
                    height: 4rem;
                }
            }
        }
        .swiper-slide{
            flex-direction: column;
            .slide-left{
                display: grid;
                gap: 1.6rem;
                padding: 3.6rem 2.3rem;
                height: 26.6rem !important;
                place-items: start;
                justify-content: start;
                h2{
                    font-size: 1.8rem;
                    line-height: 2.3rem;
                    width: 100%;
                    height: 5rem;
                }
                p{
                    font-size: 1.6rem;
                    line-height: 2.2rem;
                    width: 100%;
                    height: 13.2rem;
                }
            }
            img{
                width: 100%;
            }
        }
        a{
            margin: 3rem auto 6rem;
        }
    }
}

.tratar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
    padding-bottom: 12rem;
    h1{
        font-size: 3.4rem;
        line-height: 4.4rem;
        letter-spacing: 1%;
        color: $azul-900;
        text-transform: uppercase;
        font-family: $mundial;
        font-weight: 600;
    }
    p{
        font-size: 2.2rem;
        line-height: 3.2rem;
        letter-spacing: 2%;
        font-weight: 400;
        color: $azul-900;
    }
    .top-tratar{
        display: flex;
        gap: 8rem;
        align-items: flex-start;
        justify-content: center;
        .left-top{
            width: 53rem;
        }
        .right-top{
            width: 57rem;
        }
    }
    .bottom-tratar{
        display: flex;
        gap: 8rem;
        align-items: center;
        justify-content: center;
        .left-bottom{
            width: 53rem;
        }
        .right-bottom{
            width: 57rem;
            display: flex;
            flex-direction: column;
            gap: 3rem;
        }
    }
    @media screen and (max-width:700px){
        padding-bottom: 6rem;
        gap: 3rem;
        h1{
            font-size: 1.8rem;
            line-height: 2.3rem;
        }
        p{
            font-size: 1.6rem;
            line-height: 2.2rem;
        }
        .top-tratar{
            flex-direction: column;
            gap: 2.4rem;
            .left-top{
                width: 100%;
            }
            .right-top{
                width: 100%;
            }
        }
        .bottom-tratar{
            flex-direction: column;
            gap: 2.4rem;
            .left-bottom{
                width: 100%;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            .right-bottom{
                width: 100%;
            }
        }
    }
}