---
title: Clinotam - Odontologia
layout: "base.njk"
cssPath: "/css/tratamentos.css"
---

{% include 'nav2.njk' %}

<header class="header2">
    <img class="tablet-desktop" src="../img/tratamentos/header.png" alt="Foto da Dra. Mayra posicionada em frente à cadeira odontológica">
    <img class="only-mobile" src="../img/tratamentos/header-mob.png" alt="Foto da Dra. Mayra posicionada em frente à cadeira odontológica">
    <div class="header-text">
        <h2>
            Tratamentos
        </h2>
        <p>Escolha o melhor cuidado odontológico para o seu sorriso.</p>
    </div>
</header>  

<section class="page">
    <div class="wrap-page">
        <img src="../img/page/canal.png" alt="imagem da Dra. Mayra em atendimento">
        <div class="right-page">
            <a class="back" href="/tratamentos">
                <img 
                    src="../img/icons/back.png"
                    srcset="../img/icons/back@2x.png 2x, ../img/icons/back@3x.png 3x"
                    alt="flecha para voltar">
                <p>Voltar para tratamentos</p>
            </a>
            <div class="title">
                <img src="../img/home/canal.png"
                    srcset="../img/home/canal@2x.png 2x, ../img/home/canal@3x.png 3x"
                    alt="Ícone de canal">
                    <h1>Canal</h1>
            </div>
            <p>
                Sentir dor intensa ou sensibilidade ao mastigar pode ser sinal de que algo mais sério está acontecendo dentro do dente. O tratamento de canal é necessário quando a parte interna do dente — chamada de polpa — está inflamada ou infeccionada.
                <br/><br/>
                Na Clinotam, esse procedimento é realizado com muito cuidado, segurança e tecnologia, garantindo o alívio da dor e a preservação do seu dente.
                <br/><br/>
                Oferecemos um atendimento acolhedor e personalizado para que você se sinta tranquilo do início ao fim do tratamento.
            </p>
            <a href="https://api.whatsapp.com/send?phone=5541988683202&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta." class="blueButton">Agende sua Consulta</a>
        </div>
    </div>
</section>


{% include 'footer.njk' %}