---
title: Clinotam - Odontologia
layout: "base.njk"
cssPath: "/css/tratamentos.css"
---

{% include 'nav2.njk' %}

<header class="header2">
    <img class="tablet-desktop" src="../img/tratamentos/header.png" alt="Foto da Dra. Mayra posicionada em frente à cadeira odontológica">
    <img class="only-mobile" src="../img/tratamentos/header-mob.png" alt="Foto da Dra. Mayra posicionada em frente à cadeira odontológica">
    <div class="header-text">
        <h2>
            Tratamentos
        </h2>
        <p>Escolha o melhor cuidado odontológico para o seu sorriso.</p>
    </div>
</header>  

<section class="page">
    <div class="wrap-page">
        <img class="tablet-desktop" " src="../img/page/clareamento.png" alt="Imagem de uma placa e seringa para clareamento dental">
        <div class="right-page">
            <a class="back" href="/tratamentos">
                <img 
                src="../img/icons/back.png"
                srcset="../img/icons/back@2x.png 2x, ../img/icons/back@3x.png 3x"
                alt="flecha para voltar">
                <p>Voltar para tratamentos</p>
            </a>
            <div class="title">
                <img src="../img/home/clareamento.png"
                srcset="../img/home/clareamento@2x.png 2x, ../img/home/clareamento@3x.png 3x"
                alt="Ícone de clareamento">
                <h1>Clareamento</h1>
            </div>
            <img  class="only-mobile" src="../img/page/clareamento.png" alt="Imagem de uma placa e seringa para clareamento dental">
            <p>
                Com o passar dos anos, é natural que os dentes escureçam por conta de hábitos como o consumo de café, vinho, chás e cigarro. O clareamento dental é uma solução simples e segura para devolver a luminosidade do seu sorriso.
                <br/><br/>
                Na Clinotam, oferecemos clareamento em consultório e supervisionado em casa — sempre com avaliação profissional para garantir resultados previsíveis e duradouros.
                <br/><br/>
                Nosso protocolo é baseado em segurança, controle de sensibilidade e preservação do esmalte dental, mantendo o equilíbrio entre estética e saúde bucal.
            </p>
            <a href="https://api.whatsapp.com/send?phone=5541988683202&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta." class="blueButton">Agende sua Consulta</a>
        </div>
    </div>
</section>


{% include 'footer.njk' %}