---
title: Clinotam - Odontologia
layout: "base.njk"
cssPath: "/css/tratamentos.css"
---

{% include 'nav2.njk' %}

<header class="header2">
    <img class="tablet-desktop" src="../img/tratamentos/header.png" alt="Foto da Dra. Mayra posicionada em frente à cadeira odontológica">
    <img class="only-mobile" src="../img/tratamentos/header-mob.png" alt="Foto da Dra. Mayra posicionada em frente à cadeira odontológica">
    <div class="header-text">
        <h2>
            Tratamentos
        </h2>
        <p>Escolha o melhor cuidado odontológico para o seu sorriso.</p>
    </div>
</header>  

<section class="page">
    <div class="wrap-page">
        <img class="tablet-desktop" src="../img/page/clinica.png" alt="imagem da Dra. Mayra em atendimento">
        <div class="right-page">
            <a class="back" href="/tratamentos">
                <img 
                src="../img/icons/back.png"
                srcset="../img/icons/back@2x.png 2x"
                alt="flecha para voltar">
                <p>Voltar para tratamentos</p>
            </a>
            <div class="title">
                <img src="../img/home/clinica.png"
                srcset="../img/home/clinica@2x.png 2x"
                alt="Ícone de clínica">
                <h1>Clínica Geral</h1>
            </div>
            <img class="only-mobile" src="../img/page/clinica.png" alt="imagem da Dra. Mayra em atendimento">
            <p>
                Acreditamos que o cuidado com o sorriso começa pela atenção ao todo. Na Clinotam, esse atendimento é feito com atenção individualizada, embasamento técnico e foco na prevenção.
                <br/><br/>
                Realizamos avaliações completas, limpeza profissional, restaurações, controle de cáries, orientação de higiene e acompanhamento contínuo da saúde bucal.
                <br/><br/>
                Nossa equipe oferece um cuidado integral e ético, mantendo o compromisso de tratar cada paciente com respeito, clareza e acolhimento — princípios que acompanham a tradição da Clinotam desde sua fundação.
            </p>
            <a href="https://api.whatsapp.com/send?phone=5541988683202&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta." class="blueButton">Agende sua Consulta</a>
        </div>
    </div>
</section>


{% include 'footer.njk' %}