---
title: Clinotam - Odontologia
layout: "base.njk"
cssPath: "/css/endodontia.css"
---

{% include 'nav2.njk' %}

<header class="header2">
    <img class="tablet-desktop" src="../img/tratamentos/header.png" alt="Foto da Dra. Mayra posicionada em frente à cadeira odontológica">
    <img class="only-mobile" src="../img/tratamentos/header-mob.png" alt="Foto da Dra. Mayra posicionada em frente à cadeira odontológica">
    <div class="header-text">
        <h2>
           Endodontia <br/>em Curitiba
        </h2>
        <p>Tratamento de Canal com Segurança e Conforto</p>
    </div>
</header>  

<section class="cuidando">
    <img src="../img/icons/left-red.png"
        srcset="../img/icons/left-red@2x.png 2x"
        alt="imagem de fundo com um semi círculo vermelho" 
        class="red-dot tablet-desktop">
    <div class="wrap-cuidando">
        <div class="right-cuidando">
            <h1>Está com dor de dente? Não ignore esse sintoma, pode ser mais sério do que parece.</h1>
            <p>
                Na Clinotam, tratamos a dor de dente com tecnologia, precisão e segurança há mais de 35 anos.
            </p>
            <a href="https://api.whatsapp.com/send?phone=5541988683202&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta." class="blueButton">Agende sua consulta</a>
        </div>
        <img src="../img/endodontia/endodontia1.png" alt="Foto de uma mulher com a mão no rosto e expressando dor">
    </div>
</section>

<section class="quando">
    <h1>Quando procurar um endodontista?</h1>
    <h3>Se você sente algum desses sintomas, é hora de investigar:</h3>
    <div class="wrap-quando">
        <div class="item-quando">
            <img src="../img/endodontia/dor.png" alt="ícone representando dor de dente">
            <p>Dor de dente constante ou ao mastigar</p>
        </div>
        <div class="item-quando">
            <img src="../img/endodontia/sensibilidade.png" alt="ícone representando sensibilidade de dente">
            <p>Sensibilidade exagerada ao quente ou frio</p>
        </div>
        <div class="item-quando">
            <img src="../img/endodontia/inchaco.png" alt="ícone representando inchaço na gengiva">
            <p>Inchaço na gengiva ou no rosto</p>
        </div>
        <div class="item-quando">
            <img src="../img/endodontia/escurecimento.png" alt="ícone representando escurecimento de dente">
            <p>Escurecimento do dente</p>
        </div>
        <div class="item-quando">
            <img src="../img/endodontia/infeccao.png" alt="ícone representando infecção de dente">
            <p>Infecções recorrentes</p>
        </div>
    </div>
    <h3>Esses sinais indicam que a polpa do dente pode estar inflamada ou infeccionada, e o tratamento de canal pode ser necessário para salvar o dente e eliminar a dor.</h3>
    <a href="https://api.whatsapp.com/send?phone=5541988683202&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta." class="blueButton">Agende sua consulta</a>
</section>

<section class="image">
    <img src="../img/endodontia/endodontia2.png" class="back-img" alt="Foto de um espelho de mão refletindo uma boca sorrindo">
    <img src="../img/endodontia/right-dots.png" alt="ícone representando pontos vermelhos" class="right-dots">
    <div class="text-img">
        <h2>Mas não precisa se preocupar.</h2>
        <p>Muita gente associa o tratamento de canal à dor, mas hoje, com a tecnologia certa, ele é rápido, seguro e praticamente indolor.</p>
    </div>
</section>

<section class="usamos">
    <img src="../img/icons/left-red.png"
        srcset="../img/icons/left-red@2x.png 2x"
        alt="imagem de fundo com um semi círculo vermelho" 
        class="red-dot tablet-desktop">
    <h3>
        Na Clinotam, usamos equipamentos modernos, anestesias precisas e técnicas avançadas para garantir que você tenha uma experiência tranquila do início ao fim.
    </h3>
    <div class="right-usamos">
        <p>O tratamento de canal (endodontia) remove a inflamação e infecção de dentro do dente, preservando sua estrutura natural e evitando extrações desnecessárias.</p>
        <a href="https://api.whatsapp.com/send?phone=5541988683202&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta." class="blueButton">Fale conosco</a>
    </div>
</section>

<section class="escolher">
    <div class="title">
        <h1>Por que escolher a clinotam?</h1>
        <div class="swiper-buttons">
            <img src="../img/icons/previous.png" alt="flecha para trocar slide anterior" class="swiper-button-prev">
            <img src="../img/icons/forward.png" alt="flecha para trocar slide seguinte" class="swiper-button-next">
        </div>
    </div>
    <div class="swiper">    
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slide-left">
                    <h2>Diagnóstico completo na primeira consulta</h2>
                    <p>Na sua primeira consulta, você já fará o diagnóstico, incluindo a radiografia feita na hora, permitindo identificar o problema e definir o tratamento ideal sem precisar de deslocamentos ou esperas.</p>
                </div>
                <img src="../img/endodontia/slide1.png" alt="Foto da Dra. Mayra apresentando um planejamento com paciente">
            </div>
            <div class="swiper-slide">
                <div class="slide-left">
                    <h2>Canal com o mínimo de desconforto</h2>
                    <p>O procedimento inclui anestesia que torna o procedimento de canal quase sem dor para minimizar qualquer sensação de desconforto no momento da aplicação.</p>
                </div>
                <img src="../img/endodontia/slide2.png" alt="Foto da Dra. Mayra atendendo um paciente">
            </div>
            <div class="swiper-slide">
                <div class="slide-left">
                    <h2>Tecnologia e precisão</h2>
                    <p>Equipamentos endodônticos que tornam o procedimento mais rápido, seguro e previsível.</p>
                </div>
                <img src="../img/endodontia/slide3.png" alt="Foto da Dra. Mayra apontando um equipamento endodôntico">
            </div>
            <div class="swiper-slide">
                <div class="slide-left">
                    <h2>Preservação do seu dente natural</h2>
                    <p>Nosso foco é salvar o dente sempre que possível, evitando extrações desnecessárias.</p>
                </div>
                <img src="../img/endodontia/slide4.png" alt="Foto da Dra. Mayra segurando um modelo de boca">
            </div>  
            <div class="swiper-slide">
                <div class="slide-left">
                    <h2>Atendimento especializado</h2>
                    <p>O tratamento é conduzido pela Dra. Mayra, endodontista que une atendimento acolhedor e excelência técnica, cuidando para devolver o conforto e saúde ao sorriso de cada paciente.</p>
                </div>
                <img src="../img/endodontia/slide5.png" alt="Foto da Dra. Mayra sorrindo">
            </div>
        </div>
    </div>
    <a href="https://api.whatsapp.com/send?phone=5541988683202&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta." class="blueButton">Agende sua consulta</a>
</section>

<section class="tratar">
    <div class="top-tratar">
        <div class="left-top">
            <h1>Por que tratar com um especialista faz diferença?</h1>
        </div>
        <div class="right-top">
            <p>Tratar o canal com um endodontista especializado significa mais segurança e conforto durante e após o tratamento.<br/> Além de eliminar a infecção e a dor, o tratamento devolve estabilidade, função mastigatória e estética, mantendo o dente firme e saudável por muitos anos.</p>
        </div>
    </div>
    <div class="bottom-tratar">
        <div class="left-bottom">
            <img src="../img/endodontia/tratar1.png" alt="Foto de um homem em tratamento">
        </div>
        <div class="right-bottom">
            <h1>Não adie o cuidado com o seu sorriso.</h1>
            <p>Com diagnóstico na hora e tratamento especializado, você pode se livrar da dor e preservar o seu dente ainda hoje.</p>
            <a href="https://api.whatsapp.com/send?phone=5541988683202&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta." class="blueButton">Fale conosco</a>
        </div>
    </div>
</section>

{% include 'footer.njk' %}

<script>
    const swiper = new Swiper('.swiper', {
        slidesPerView: 1,
        spaceBetween: 50,
        grabCursor: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>