---
title: Clinotam - Odontologia
layout: "base.njk"
cssPath: "/css/home.css"
---

{% include 'nav.njk' %}

<header class="header">
    <img class="tablet-desktop header-back" src="../img/home/header.png" alt="Foto com a equipe da Clinotam olhando uma radiografia panorâmica">
    <img class="only-mobile header-back" src="../img/home/header-mob.png" alt="Foto com a equipe da Clinotam olhando uma radiografia panorâmica">
    <div class="header-text">
       <img 
            src="../img/home/header-logo.png"
            srcset="../img/home/header-logo@2x.png 2x"
            alt="logo Clinotam Odontologia">
    </div>
    <img 
        src="../img/icons/down.pgn"
        srcset="../img/icons/down@2x.png 2x"
        alt="flecha para descer"
        class="down-arrow only-desktop"
    >
</header>

<section class="cuidando">
    <img src="../img/icons/red-dot.png"
        srcset="../img/icons/red-dot@2x.png 2x"
        alt="imagem de fundo com um semi círculo vermelho" 
        class="red-dot">
    <div class="wrap-cuidando">
        <img class="only-desktop" src="../img/home/team.png" alt="Foto da Equipe da Clinotam">
        <div class="right-cuidando">
            <h1>Há 36 anos cuidando dos sorrisos curitibanos.</h1>
            <img class="only-mobile" src="../img/home/team.png" alt="Foto da Equipe da Clinotam">
            <p>
                A Clinotam Odontologia é um negócio familiar que manteve a tradição na odontologia e hoje passa o bastão para a segunda geração, comandada pela Dra. Mayra Megumi. <br/><br/>
                Com os mesmos valores e o propósito de acolher todos os pacientes, continuamos cuidando da saúde e do sorriso de todos os pacientes.
            </p>
            <a href="https://api.whatsapp.com/send?phone=5541988683202&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta." class="blueButton">Fale conosco</a>
        </div>
    </div>
</section>

<section class="tratamentos">
    <div class="left-tratamentos">
        <img 
            src="../img/icons/logo-kanji.png"
            srcset="../img/icons/logo-kanji@2x.png 2x"
            alt="Nome Tamura escrito em caracteres japoneses">
        <h1>Tratamentos</h1>
    </div>
    <div class="right-tratamentos">
        <a href="/clinica" class="item-tratamentos">
            <img 
                src="../img/home/clinica.png"
                srcset="../img/home/clinica@2x.png 2x"
                alt="ícone para clinica geral">
            <p>Clínica Geral</p>
        </a>
        <a href="/canal" class="item-tratamentos">
            <img 
                src="../img/home/canal.png"
                srcset="../img/home/canal@2x.png 2x"
                alt="Ícone para tratamento de canal">
            <p>Canal</p>
        </a>
        <a href="/restauracao" class="item-tratamentos">
            <img 
                src="../img/home/restauracao.png"
                srcset="../img/home/restauracao@2x.png 2x"
                alt="Ícone para Restauração">
            <p>Restauração</p>
        </a>
        <a href="/clareamento" class="item-tratamentos">
            <img 
                src="../img/home/clareamento.png"
                srcset="../img/home/clareamento@2x.png 2x"
                alt="Ícone para clareamento">
            <p>Clareamento</p>
        </a>
        <a href="/protese" class="item-tratamentos">
            <img 
                src="../img/home/protese.png"
                srcset="../img/home/protese@2x.png 2x"
                alt="Ícone para prótese">
            <p>Prótese</p>
        </a>
        <div class="outro-tratamentos only-desktop">
            <a href="/tratamentos" class="blueButton">Saiba mais</a>
        </div>
    </div>
    <a href="/tratamentos" class="blueButton only-mobile">Saiba mais</a>
</section>

<section class="equipe">
    <div class="wrap-equipe">
        <div class="item-equipe end">
            <img src="../img/home/sakae.png" alt="Imagem do Dr. Sakae Tamura">
            <div class="info">
                <h2>Dr. Sakae Tamura</h2>
                <h3>CRO/PR 3658</h3>
                <p>Cirurgião-dentista formado pela Universidade Católica do Paraná. Atua como clínico geral, com experiência em dentística e procedimentos como prótese e clareamento dental.</p>
            </div>
        </div>
        <div class="item-equipe invert">
            <div class="info">
                <h2>Dra. Mayumi Tamura</h2>
                <h3>CRO/PR 3773</h3>
                <p>Cirurgiã-dentista formada em Odontologia pela UFPR. Atua como clínica geral, com experiência em dentística e foco em procedimentos de prótese.</p>
            </div>
            <img src="../img/home/mayumi.png" alt="Imagem da Dra. Mayumi Tamura">
        </div>
        <div class="item-equipe">
            <img src="../img/home/mayra.png" alt="Imagem da Dra. Mayra Tamura">
            <div class="info">
                <h2>Dra. Mayra Tamura</h2>
                <h3>CRO/PR 21407</h3>
                <p>Cirurgiã dentista especializada em tratamentos de canal, formada e pós-graduada pela PUCPR. Além disso, realizou uma atualização em prótese na ABO Paraná.</p>
            </div>
        </div>
    </div>
</section>

<section class="cuidar">
    <div class="wrap-cuidar">
        <h1>
            Cuidar é a nossa herança,
            <br/>e nossos pacientes são prova disso.
        </h1>
        <div class="cuidar-right">
            <img 
                src="../img/icons/aspas.png"
                srcset="../img/icons/aspas@2x.png 2x"
                alt="aspas para apresentar os relatos de pacientes"
                class="aspas"
            >
            <div class="swiper-icons">
                <img 
                    src="../img/icons/back.png"
                    srcset="../img/icons/back@2x.png 2x"
                    alt="flecha para voltar" 
                    class="swiper-button-prev">
                <img src="../img/icons/next.png"
                    srcset="../img/icons/next@2x.png 2x"
                    alt="flecha para avançar" 
                    class="swiper-button-next">
            </div>
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <p>Excelente atendimento, serviço impecável, sempre me atendem muito bem, tomam todos os cuidados e passam todas as informações necessárias à respeito de cada procedimento realizado! Recomendo muito!</p>
                        <h2>Matheus Franklin</h2>
                    </div>
                    <div class="swiper-slide">
                        <p>Somos pacientes há 35 anos. Sempre fomos atendidos com presteza, cordialidade e eficiência. Somos imensamente gratos.</p>
                        <h2>Eni e Raul A. Anselmi</h2>
                    </div>
                    <div class="swiper-slide">
                        <p>Excelente clínica odontológica com bons horários para atendimento</p>
                        <h2>Ricardo Schoen</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="tablet-desktop">
        Nosso cuidado passa de geração em geração.<br/>
        Faça parte disso!
    </p>
    <p class="only-mobile">
        Nosso cuidado passa de geração em geração. Faça parte disso!
    </p>
    <a href="https://api.whatsapp.com/send?phone=5541988683202&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta." class="blueButton">Fale conosco</a>
    <img 
        src="../img/home/cuidar-dots.png"
        srcset="../img/home/cuidar-dots@2x.png 2x, ../img/home/cuidar-dots@3x.png 3x"
        class="cuidar-dots"
        alt="Bolinhas de detalhe de fundo">
</section>

{% include 'footer.njk' %}


<script>
    var swiper = new Swiper(".swiper", {
        slidesPerView: 1,
        spaceBetween: 20,
        loop: true,
        grabCursor: true,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        breakpoints: {
            360: {
                spaceBetween: 8,
            },
            768: {
                spaceBetween: 40,
            },
            1024: {
                spaceBetween: 20,
                slidesPerView: 1,
            },
        },
    });
</script>