---
title: Clinotam - Odontologia
layout: "base.njk"
cssPath: "/css/tratamentos.css"
---

{% include 'nav2.njk' %}

<header class="header2">
    <img class="tablet-desktop" src="../img/tratamentos/header.png" alt="Foto da Dra. Mayra posicionada em frente à cadeira odontológica">
    <img class="only-mobile" src="../img/tratamentos/header-mob.png" alt="Foto da Dra. Mayra posicionada em frente à cadeira odontológica">
    <div class="header-text">
        <h2>
            Tratamentos
        </h2>
        <p>Escolha o melhor cuidado odontológico para o seu sorriso.</p>
    </div>
</header>  

<section class="page">
    <div class="wrap-page">
        <img class="tablet-desktop" src="../img/page/protese.png" alt="Imagem de um modelo de demonstração com um implante e prótese">
        <div class="right-page">
            <a class="back" href="/tratamentos">
                <img 
                src="../img/icons/back.png"
                srcset="../img/icons/back@2x.png 2x"
                alt="flecha para voltar">
                <p>Voltar para tratamentos</p>
            </a>
            <div class="title">
                <img src="../img/home/protese.png"
                srcset="../img/home/protese@2x.png 2x"
                alt="Ícone de protese">
                <h1>Prótese</h1>
            </div>
            <img class="only-mobile" src="../img/page/protese.png" alt="Imagem de um modelo de demonstração com um implante e prótese">
            <p>
                Perder um ou mais dentes pode impactar sua mastigação, fala e autoestima. As próteses dentárias são uma solução eficaz para devolver a funcionalidade e a estética do seu sorriso.
                <br/><br/>
                Na Clinotam, avaliamos cada caso com cuidado e indicamos o tipo de prótese mais adequado às suas necessidades. Trabalhamos com materiais de alta qualidade e atenção a cada detalhe para que você volte a sorrir com confiança e tranquilidade.
            </p>
            <a href="https://api.whatsapp.com/send?phone=5541988683202&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta." class="blueButton">Agende sua Consulta</a>
        </div>
    </div>
</section>

{% include 'footer.njk' %}