---
title: Clinotam - Odontologia
layout: "base.njk"
cssPath: "/css/tratamentos.css"
---

{% include 'nav2.njk' %}

<header class="header2">
    <img class="tablet-desktop" src="../img/tratamentos/header.png" alt="Foto da Dra. Mayra posicionada em frente à cadeira odontológica">
    <img class="only-mobile" src="../img/tratamentos/header-mob.png" alt="Foto da Dra. Mayra posicionada em frente à cadeira odontológica">
    <div class="header-text">
        <h2>
            Tratamentos
        </h2>
        <p>Escolha o melhor cuidado odontológico para o seu sorriso.</p>
    </div>
</header>  

<section class="page">
    <div class="wrap-page">
        <img src="../img/page/restauracao.png" alt="Imagem de um dente sendo olhado pelo espelho intraoral">
        <div class="right-page">
            <a class="back" href="/tratamentos">
                <img 
                    src="../img/icons/back.png"
                    srcset="../img/icons/back@2x.png 2x, ../img/icons/back@3x.png 3x"
                    alt="flecha para voltar">
                <p>Voltar para tratamentos</p>
            </a>
            <div class="title">
                <img src="../img/home/restauracao.png"
                    srcset="../img/home/restauracao@2x.png 2x, ../img/home/restauracao@3x.png 3x"
                    alt="Ícone de restauracao">
                    <h1>Restauração</h1>
            </div>
            <p>
                A restauração é indicada quando há perda parcial da estrutura dental, causada por cáries, fraturas ou desgaste. O objetivo é devolver ao dente sua forma, função e estética, utilizando materiais biocompatíveis e duradouros, como resina composta ou cerâmica.
                <br/><br/>
                Se você tem um dente danificado por cárie ou quebra, a restauração é um procedimento simples, seguro e eficaz. Aqui na Clinotam, tratamos cada caso com atenção individual, utilizando materiais que se integram ao seu sorriso e respeitam sua saúde bucal.
            </p>
            <a href="https://api.whatsapp.com/send?phone=5541988683202&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta."class="blueButton">Agende sua Consulta</a>
        </div>
    </div>
</section>


{% include 'footer.njk' %}